.images{
    margin: 20px auto;
    border: 2px solid black;
    color: green;
    width: 720px;
    border-radius: 4px;
    text-align: center;
    font-size: 32px;
    padding: 15px 20px;
    position: relative;
    max-width: 100%;
    background-color: yellow
    
  }