<div class="row">
    <div class="user">
        <mat-card>
            <mat-card-title>
                Player Choice : <br>
                {{userChoice | uppercase}}
            </mat-card-title>
        </mat-card>
    </div>
<div class="score-board">
<mat-card>
    <mat-card-title>
        Score Card
    </mat-card-title>

<mat-card-content>
   <h1>{{status}} <br>
    Player:- {{playerScore}} <br>
    Computer:- {{computerScore}}</h1> 
</mat-card-content>

</mat-card>
</div>
<div class="computer">
<mat-card >
    <mat-card-title>
        Computer's Choice:  <br>
         {{compChoice | uppercase}}
    </mat-card-title>


</mat-card>
</div>
</div>