<!--The content below is only a placeholder and can be replaced.-->
<header>
  <mat-toolbar color="primary">
          <mat-toolbar-row>     
                  <span>XD Play Store</span>
                  <a mat-stroked-button routerLink="/home"
                  routerLinkActive="active-link">Home</a>
                  <a mat-stroked-button routerLink="/snake"
                  routerLinkActive="active-link">Snake-Apple Game</a>
                  <a mat-stroked-button routerLink="/rps"
                  routerLinkActive="active-link">Rock-Paper Scissors</a>
                </mat-toolbar-row>
  </mat-toolbar>
</header>

<router-outlet></router-outlet>
