mat-card {
    width: 400px;
    height: 400px;
    display: block;
    margin-left:auto;
    margin-right:auto;  
    
}

.background {
    background-image: url('../../assets/Capture.PNG');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}